.dropdown-button {
    height: 3dvh;
    vertical-align: center;
    display: flex;
    align-items: center;
    padding: 0.5dvh;
    box-sizing: border-box;
    background: var(--bg-light);
    text-wrap: nowrap;
    flex-shrink: 0;

    &.disabled {
        color: var(--color-muted);
    }
}

.dropdown-button:hover {
    &:not(.disabled) {
        background: var(--bg-highlight);
    }
}