#context-menu-context {

    #context-menu {
        padding: 0.3dvh;
        box-sizing: border-box;

        background: var(--bg);
        border-radius: var(--border-radius-big);
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -1px -1px 5px rgba(0, 0, 0, 0.3);

        display: flex;
        flex-direction: column;

        button {
            border: none;
            outline: none;
            font-size: 1.1rem;
            padding: 0.4dvh;
            box-sizing: border-box;
            border-radius: 5px;

            background: var(--bg);

            &:hover {
                background: var(--bg-highlight);
            }
        }
    }

}