#sidebar {
    height: 100%;
    min-width: 20dvw;
    width: 20dvw;
    background: var(--bg);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8dvh;
    gap: 0.8dvh;
    box-sizing: border-box;

    border-radius: var(--border-radius-big);

    #sidebar-port-panel {
        background: var(--bg-dark);
        width: 100%;
        height: 25dvh;
        border-radius: var(--border-radius-big);

        position: relative;

        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0.5dvh;

        #cnc-settings {
            display: flex;
            gap: 1dvh;
            overflow: visible;

            .topbar-button {
                margin: 0;
                width: 100%;
                padding: 0 1dvh;

                border: none;
                outline: none;

                background: var(--bg-light);
                border-radius: var(--border-radius-big);
                height: 3dvh;

                text-align: left;
                box-sizing: border-box;

                &:hover {
                    background: var(--bg-highlight)
                }

                #dropdown {
                    margin: 0;
                    padding: 0;
                }
            }

            .btn {
                height: 100%;
                aspect-ratio: 1/1;
                flex: 0 0 auto;

                border: none;
                outline: none;

                background: var(--bg-light);
                border-radius: 4px;

                display: flex;
                justify-content: center;
                align-items: center;

                box-sizing: border-box;
                font-size: 1.7rem;
                font-weight: 1000;

                &.disconnected {
                    background: var(--bg-dark);
                    path {
                        color: var(--green);
                        stroke-width: 8px;
                    }
                }

                &:hover {
                    background: var(--bg);
                }

                &.connected {
                    background: var(--red);
                    path {
                        color: var(--bg-dark);
                        stroke-width: 6px;
                    }

                    &:hover {
                        path {
                            color: var(--bg);
                        }
                    }
                }
            }
        }
    }

    #sidebar-buttons {
        background: var(--bg-dark);
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius-big);

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 20%;
        gap: 1dvh;
        padding: 1dvh;
        box-sizing: border-box;

        overflow-y: scroll;

        .btn {
            background: var(--bg);
            border-radius: var(--border-radius-big);
            font-size: 4rem;
            text-align: center;

            display: flex;
            justify-content: center;
            align-items: center;

            flex-direction: column;

            div {
                margin-top: 1dvh;
                font-size: 1.3rem;
            }
        }

        .btn:hover {
            background: var(--bg-light);
        }

        .btn.toggled {
            background: var(--bg-highlight);
        }
    }
}

#modal {
    width: 30%;
    height: 60dvh !important;

    #add-button {
        width: 100%;
        height: 60dvh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1dvh;
        overflow: hidden;

        #content {
            max-height: 100%;
            height: 100%;

            #content-scrollable {
                * {
                    flex-shrink: 0;
                }
                height: 100%;
                overflow: scroll;
                display: flex;
                flex-direction: column;

                h1 {
                    text-align: center;
                    margin-bottom: 3dvh;
                    height: 5dvh;
                }

                h3 {
                    height: 2.5dvh;
                }

                #info {
                    height: 10dvh;
                    display: flex;

                    #button-wrapper {
                        display: flex;
                        align-items: center;
                        margin-right: 2dvh;

                        button {
                            width: 5dvh;
                            height: 5dvh;

                            border: none;
                            outline: none;
                            font-size: 2.5rem;
                            border-radius: var(--border-radius-big);
                            background: var(--bg-light);
                            box-sizing: border-box;
                            padding: 0.3dvh;
                        }
                    }
                }

                #icon-selection {
                    overflow-x: scroll;
                    display: grid;
                    grid-template-rows: 1fr 1fr;
                    grid-auto-flow: column;
                    grid-auto-columns: 7dvh;
                    height: 14dvh;
                    margin-bottom: 1dvh;
                    align-items: center;
                    gap: 1dvh;
                    padding-bottom: 2dvh;

                    .btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        height: 100%;
                        aspect-ratio: 1/1;
                        background: var(--bg);
                        border-radius: var(--border-radius-big);

                        &:hover {
                            background: var(--bg-light);
                        }

                        &.selected {
                            background: var(--bg-highlight);
                        }
                    }
                }

                input {
                    margin-bottom: 2dvh;
                    outline: none;
                    border: none;
                    background: var(--bg);
                    height: 4dvh;
                    font-size: 1.2rem;
                    border-radius: var(--border-radius-big);
                    box-sizing: border-box;
                    padding: 0.5dvh;
                }

                #areas {
                    display: flex;
                    gap: 1dvh;
                    height: 15dvh;
                    margin-bottom: 1dvh;
                    box-sizing: border-box;

                    div {
                        h4 {
                            margin-bottom: 0.2dvh;
                            white-space: preserve;
                            height: 2dvh;
                        }

                        flex: 1;

                        textarea {
                            resize: none;

                            outline: none;
                            border: none;
                            background: var(--bg);
                            width: 100%;
                            height: 15dvh;
                            font-size: 1.2rem;
                            border-radius: var(--border-radius-big);
                            box-sizing: border-box;
                            padding: 0.5dvh;
                        }
                    }
                }

                #mode {
                    display: flex;
                    gap: 2dvh;
                    height: 5dvh;

                    button {
                        width: 50%;

                        outline: none;
                        border: none;

                        box-sizing: border-box;
                        padding: 0.5dvh;

                        background: var(--bg);
                        border-radius: var(--border-radius-big);
                        font-size: 1.2rem;

                        &:hover {
                            background: var(--bg-light);
                        }

                        &.selected {
                            background: var(--bg-highlight);
                        }
                    }
                }
            }

        }
    }

    #submit {
        box-sizing: border-box;
        display: flex;
        gap: 2dvh;
        height: 8%;

        button {
            width: 50%;

            outline: none;
            border: none;

            box-sizing: border-box;
            padding: 0.5dvh;

            background: var(--bg);
            border-radius: var(--border-radius-big);
            font-size: 1.2rem;

            &.cancel {
                background: var(--red);
            }

            &.cancel:hover {
                background: color-mix(in hsl, var(--red) 90%, white 10%);
            }

            &:hover {
                background: var(--bg-light);
            }
        }
    }
}